{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main class="py-10">
    {% if games is empty %}
        <div class="px-4 sm:px-6 lg:px-8">
            <h1>Aucune partie en cours</h1>
        </div>
    {% endif %}
    {% for game in games %}
        <div class="px-4 sm:px-6 lg:px-8 mb-4">
            <h1 class="text-4xl pb-4">{{ game.name }}</h1>
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                        <h1 class="text-base font-semibold text-gray-900">Lots</h1>
                        <p class="mt-2 text-sm text-gray-700">Liste des lots.</p>
                    </div>
                </div>
                <div class="mt-8 flow-root">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <table class="min-w-full divide-y divide-gray-300">
                                <thead>
                                <tr>
                                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Titre</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ordre</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Condition</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Prix</th>
                                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                        <span class="sr-only">Action</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200">
                                {% for prize in game.sortedPrizes %}
                                    <tr>
                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ prize.title }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prize.description }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prize.sort }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prize.winningConditionForHuman }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ prize.price }} €</td>
                                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                            {% if loop.index == 1 %}
                                                <a href="{{ path('app_prize_show', { game: prize.game.slug, prize: prize.slug }) }}" class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Jouer</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                <!-- More people... -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}
